# Homework 1: playing with pandas dataframe
Data source: http://archive.ics.uci.edu/ml/datasets/Polish+companies+bankruptcy+data

In [1]:
from scipy.io import arff
import pandas as pd

In [2]:
data = arff.loadarff('4year.arff')
df = pd.DataFrame(data[0])

In [3]:
df['bankruptcy'] = (df['class']==b'1')

In [4]:
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class,bankruptcy
0,0.159290,0.46240,0.07773,1.1683,-44.853,0.467020,0.189480,0.82895,1.1223,0.38330,...,0.41557,0.89101,0.001422,7.7928,4.9914,119.810,3.0465,3.0560,b'0',False
1,-0.127430,0.46243,0.26917,1.7517,7.597,0.000925,-0.127430,1.16250,1.2944,0.53757,...,-0.23704,1.06250,0.150410,5.4327,3.4629,100.970,3.6150,3.4725,b'0',False
2,0.070488,0.23570,0.52781,3.2393,125.680,0.163670,0.086895,2.87180,1.0574,0.67689,...,0.10413,0.94571,0.000000,7.1070,3.3808,76.076,4.7978,4.7818,b'0',False
3,0.136760,0.40538,0.31543,1.8705,19.115,0.504970,0.136760,1.45390,1.1144,0.58938,...,0.23203,0.89737,0.073024,6.1384,4.2241,88.299,4.1337,4.6484,b'0',False
4,-0.110080,0.69793,0.18878,1.2713,-15.344,0.000000,-0.110080,0.43282,1.7350,0.30207,...,-0.36440,0.57153,0.000000,18.8010,2.7925,146.390,2.4934,15.0360,b'0',False

use the following 4 features: X1 net profit / total assets, X2 total liabilities / total assets, X7 EBIT / total assets, X10 equity / total assets, and class

In [5]:
selectdf=df.iloc[:,[0,1,6,9,65]]

Properly rename the columns to X1, X2, X7, and X10

In [7]:
selectdf.columns=['X1','X2','X7','X10','bankruptcy']
selectdf.head()

         X1       X2        X7      X10  bankruptcy
0  0.159290  0.46240  0.189480  0.38330       False
1 -0.127430  0.46243 -0.127430  0.53757       False
2  0.070488  0.23570  0.086895  0.67689       False
3  0.136760  0.40538  0.136760  0.58938       False
4 -0.110080  0.69793 -0.110080  0.30207       False

Fill-in the missing values na with the mean.

In [8]:
new_df = selectdf.fillna(selectdf.mean()) 
new_df.head()

         X1       X2        X7      X10  bankruptcy
0  0.159290  0.46240  0.189480  0.38330       False
1 -0.127430  0.46243 -0.127430  0.53757       False
2  0.070488  0.23570  0.086895  0.67689       False
3  0.136760  0.40538  0.136760  0.58938       False
4 -0.110080  0.69793 -0.110080  0.30207       False

Find the mean and std of the 4 features among all, bankrupt and still-operating companies (3 groups).

In [9]:
new_df.agg([ 'mean', 'std'])  #all

            X1        X2        X7       X10  bankruptcy
mean  0.043019  0.596404  0.059446  0.389040    0.052594
std   0.359303  4.586887  0.533317  4.590064    0.223233

In [10]:
new_df.groupby('bankruptcy').agg([ 'mean', 'std'])  #bankruptcy

                  X1                  X2                  X7            \
                mean       std      mean       std      mean       std
bankruptcy
False       0.049231  0.343002  0.580752  4.689694  0.066162  0.530524
True       -0.068873  0.568076  0.878355  1.945596 -0.061538  0.568432

                 X10
                mean       std
bankruptcy
False       0.404899  4.692934
True        0.103367  1.946747

How many companies satisfy the condition, X1 < mean(X1) - stdev(X1) AND X10 < mean(X10) - std(X10)?

In [39]:
new_df_condition=new_df[(new_df.X1<(new_df['X1'].mean()-new_df['X1'].std()))& (new_df.X10<(new_df['X10'].mean()-new_df['X10'].std()))]
new_df_condition.count()

X1            15
X2            15
X7            15
X10           15
bankruptcy    15
dtype: int64

What is the ratio of the bankrupted companies among the sub-groups above

In [42]:
r = (sum(new_df_condition.bankruptcy==True)/len(new_df_condition))
r

0.2